# Bangalore House Price Prediction With Random Forest Regression

In [1]:
import pandas as pd
path = r"https://drive.google.com/uc?export=download&id=1xxDtrZKfuWQfl-6KA9XEd_eatitNPnkB" 
df = pd.read_csv(path)
df.head()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
0,3.0,2.0,150.0,1672.0,3,8971.291866,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,3.0,3.0,149.0,1750.0,3,8514.285714,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,3.0,2.0,150.0,1750.0,3,8571.428571,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,2.0,2.0,40.0,1250.0,2,3200.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,2.0,2.0,83.0,1200.0,2,6916.666667,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [2]:
df.tail()

,bath,balcony,price,total_sqft_int,bhk,price_per_sqft,area_typeSuper built-up Area,area_typeBuilt-up Area,area_typePlot Area,availability_Ready To Move,...,location_Kalena Agrahara,location_Horamavu Agara,location_Vidyaranyapura,location_BTM 2nd Stage,location_Hebbal Kempapura,location_Hosur Road,location_Horamavu Banaswadi,location_Domlur,location_Mahadevpura,location_Tumkur Road
7115,3.0,2.0,325.00,2900.0,3,11206.896552,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7116,3.0,1.0,84.83,1780.0,3,4765.730337,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7117,2.0,1.0,48.00,880.0,2,5454.545455,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7118,2.0,1.0,55.00,1000.0,2,5500.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
7119,2.0,1.0,78.00,1400.0,3,5571.428571,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
X=df.drop("price",axis=1)
y=df["price"]
print("shape of X:",X.shape)
print("shape of y:",y.shape)

shape of X: (7120, 107)
shape of y: (7120,)

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=51)
print("shape of X_train:",X_train.shape)
print("shape of X_test:",X_test.shape)
print("shape of y_train:",y_train.shape)
print("shape of y_test:",y_test.shape)

shape of X_train: (5696, 107)
shape of X_test: (1424, 107)
shape of y_train: (5696,)
shape of y_test: (1424,)

# Random Forest Regression Model

In [5]:
from sklearn.ensemble import RandomForestRegressor
rfre=RandomForestRegressor()
rfre.fit(X_train,y_train)

RandomForestRegressor()

In [6]:
rfre.score(X_test,y_test)

0.8828610863796124

In [7]:
rfre_100=RandomForestRegressor(n_estimators=500)
rfre_100.fit(X_train,y_train)

RandomForestRegressor(n_estimators=500)

In [8]:
rfre_100.score(X_test,y_test)

0.8915113354272197

# Predict the Value of House

In [9]:
X_test.iloc[-1,:]

bath                               2.000000
balcony                            0.000000
total_sqft_int                  1566.000000
bhk                                2.000000
price_per_sqft                 11494.252874
                                   ...
location_Hosur Road                0.000000
location_Horamavu Banaswadi        0.000000
location_Domlur                    0.000000
location_Mahadevpura               0.000000
location_Tumkur Road               0.000000
Name: 43, Length: 107, dtype: float64

In [10]:
rfre.predict([X_test.iloc[-1,:]])

array([176.29])

In [11]:
y_test.iloc[-1]

180.0

In [12]:
rfre.predict(X_test)

array([ 79.7523 ,  39.9547 , 119.83   , ...,  33.17825,  63.1124 ,
       176.29   ])

In [13]:
y_test

2435     80.00
3113     40.00
426     120.00
1124     79.00
1161     45.00
         ...
2078     28.34
6855     84.00
4381     32.00
3862     63.00
43      180.00
Name: price, Length: 1424, dtype: float64

# save model Using Pickle

In [19]:
import pickle
pickle.dump(rfre,open("model_save","wb"))

In [18]:
model=pickle.load(open("C:\\Users\\Admin\\Data PreProcessing\\model_save","rb"))

# Save Model Using Joblib

In [20]:
import joblib

In [21]:
joblib.dump(rfre,"model_save2")

['model_save2']

In [22]:
model2=joblib.load("model_save2")